.page {
  width: auto;
  height: 2400px;
  border: 1px solid black;
  margin: 10px;
}
.container {
  width: 2000px;
}
.btn {
  background-color: #1d85e6;
}
/* couleur bleu foncé
1d85e6
couleur bleu clair
c3daf0 */
/*********header***************/

header {
  background-image: url("img/presentation.jpg");
  background-size: cover;
  background-position: initial;
  padding-bottom: 100px;
  color: white;
}

.delfpresentation {
  text-align: center;
  color: white;
  padding-top: 150px;
}
/*********fin header***************/

/*********main***************/
main {
  background-color: #000015;
  color: white;
}
a {
  text-decoration: none;
  transition: 1s;
}
.nav-bar {
  height: 70px;
  background-color: #1d85e6;
}
/* .direction a {
  color: white;
} */

/*********réalisationCompétences***************/

.realisation article {
  box-shadow: 2px 2px 5px 5px white;
  border: 1px solid white;
  border-radius: 20px;
  padding-bottom: 50px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.realisation article h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.realisation img {
  width: 300px;
  height: 300px;
}
.imagecompetence img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.moi {
  padding-left: 30px;
}
.developpeuse {
  padding-right: 100px;
  padding-top: 20px;
}
/********* fin réalisationCompétences***************/
/* .presentation {
    padding-top: 100px;
    padding-bottom: 150px;
} */
.presentation a {
  color: white;
}
.presentation img {
  border-radius: 50px;
}
.btn-portfolio {
  background-color: #1d85e6;
  color: white;
  width: 120px;
}
.competence {
  background-color: #2e86c1;
  color: white;
}
.contact a {
  background-color: #1d85e6;
}

/*********main fin***************/
.btn:hover {
  font-size: 120%;
}
.contact {
  color: white;
}
.github a {
  color: white;
}
