.page {
    width: auto;
    height: 2400px;
    border: 1px solid black;
    margin: 10px;
}

.imagepresentation {
    background-image: url("/img/presentation.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-text {
    /* align-items: center; */
    /* justify-content: center; */
    background: transparent;
    /* z-index: 1; */
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    padding-top: 10px;
    left: 19%;
    right: 0;
    top: 20%;
    color: white;
    width: 30%;
    border: 5px solid white ;
    border-radius: 50px;
}
/* header {
    background-color:  #176aa1;
} */
.nav-bar {
    height: 70px;
    background-color: #176aa1;
    }
.direction a {
    color: white;
}
.moi {
    padding-left: 300px;
}
.developpeuse {
    padding-right: 100px;
    padding-top: 20px;
    
}
/* .presentation {
    padding-top: 100px;
    padding-bottom: 150px;
} */
.presentation a {
    color: white;
}
.btn-portfolio {
    background-color: #2e86c1;
    color: white;
    width: 120px;
}
.competence {
    background-color:  #2e86c1;
    color: white;
    
}

a {
    text-decoration: none;
    transition: 1s;
}

.btn:hover {
    font-size: 120%;
}
.contact {
    background-color:  #2e86c1;
    color: white;
    
}
.github a {
    color: white;
}